name: Build

on:
  pull_request:
    branches:
      - master
      - develop
      - 'release/*'

jobs:
  build:
    name: Build
    runs-on: windows-latest # Daf Meta Editor currently only builds on Windows.
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # Avoid shallow clone so nbgv can do its work.
      - name: Validate branch name
        uses: deepakputhraya/action-branch-name@v1.0.0
        with:
          regex: '([a-z])+\/([a-z])+'
          allowed_prefixes: 'feature,fix,revert,dependabot'
          ignore: master,develop
          min_length: 3 # Min length of the branch name
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1.8.1
        with:
          dotnet-version: 5.0.x # SDK Version to use.
      - name: Build project
        run: dotnet build --configuration Release
      - name: Run unit tests
        run: dotnet test --configuration Release
